# Server Configuration
PORT=5000

# Database Configuration (MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=mysql
DB_NAME=bagstore

# JWT Secret
JWT_SECRET=supersecret_jwt_key_shopsphere_2025

# Cloudinary (Optional, for image uploads)
CLOUD_NAME=dfupmopyr
CLOUD_API_KEY=527815876853597
CLOUD_API_SECRET=k9IoyrkVtkgNuuzylxVIfO5NjM0
